header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px #aaaaaa;
  -moz-box-shadow: 0px 0px 2px 0px #aaaaaa;
  box-shadow: 0px 0px 2px 0px #aaaaaa; }
  header nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    header nav ul {
      padding: 0px;
      margin-bottom: 0px;
      display: flex;
      justify-content: space-around;
      list-style: none; }
      header nav ul li i {
        margin-right: 10px; }
      header nav ul li a {
        color: #212121;
        padding: 20px;
        font-weight: bold;
        display: block; }
        header nav ul li a:hover {
          color: #212121;
          text-decoration: none; }

.menu_bar {
  display: none; }

.container_portada {
  position: relative; }
  .container_portada .image_fondo img {
    width: 100%;
    height: 100vh; }
  .container_portada .container_details {
    position: absolute;
    top: 200px;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container_portada .container_details .details {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      color: #212121; }
      .container_portada .container_details .details h1 {
        font-size: 40px;
        font-weight: 700;
        text-align: center; }
      .container_portada .container_details .details p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        text-align: justify; }
    .container_portada .container_details button {
      width: 30%;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #fff;
      border-style: none;
      border: 1px solid #000;
      color: #212121;
      font-weight: 700;
      margin-top: 20px;
      transition: background-color 1s; }
      .container_portada .container_details button:hover {
        color: #f5f5f5;
        background-color: transparent;
        cursor: pointer;
        border: 2px solid #000;
        text-shadow: 0px 1px 15px #000; }

@media (max-width: 768px) {
  header nav {
    width: 80%;
    height: 100%;
    margin: 0px;
    position: fixed;
    left: -100%;
    background-color: white; }
    header nav ul {
      padding: 0px;
      flex-direction: column; }
      header nav ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
        header nav ul li a {
          font-weight: 600;
          font-size: 18px; }
  header .menu_bar {
    display: block;
    width: 100%;
    background-color: #fff; }
    header .menu_bar .btn_menu {
      display: block;
      padding: 20px;
      color: #212121;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
      box-sizing: border-box; }
      header .menu_bar .btn_menu i {
        float: right;
        font-size: 40px;
        margin-top: -10px; } }
@media (max-width: 420px) {
  .container_portada .container_details {
    width: 90%;
    top: 150px;
    left: 5%; }
    .container_portada .container_details .details h1 {
      font-size: 20px; }
    .container_portada .container_details .details p {
      font-size: 14px; }
    .container_portada .container_details button {
      width: 50%;
      font-size: 16px; } }

/*# sourceMappingURL=style-general.css.map */
